## Basics of Python Session-1

### Data Types

In [ ]:
# Integers
a = 9
b = 3
print(a+b)

12

In [ ]:
a = 7
print("fggdgsgd" + a)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Float
x = 1.345
print(x)

# Boolean
b1 = True
b2 = False

type(b2)

1.345

bool

In [ ]:
# Strings
name1 = "my name is Anil "

print(type(name1))
name1

<class 'str'>

'my name is Anil '

### Operators

In [ ]:
#Arthem

a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b) #floor division

13
7
30
3.3333333333333335
1
1000
3

In [ ]:
#comparison operations

a = 5
b = 7
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

In [ ]:
#logical operations

x = True
y = False
print(x and y)
print(x or y)
print(not y)

False
True
True

In [ ]:
#assignment operations

x = 5
x = +5
x = -5

x += 5   #--> x = x+5
x -= 5   #--> x = x-5
x *= 3   #---> x = x*3
print(x)

-15

In [ ]:
name = str(input("Enter your name: "))

print("Hello", name)
print(type(name))

Enter your name: anil
Hello anil
<class 'str'>

### Branching

In [ ]:
i = 15

if (i < 3):
    print('less than 3')
    if i<2:
        print("Fsdfsf")
elif i < 5:
    print('less than 5')
elif i < 12:
    print("i am stupid")
else:
    print('5 or more')

5 or more

### Lists

In [ ]:
l1 = ["dsad", 'b', 'c']
l2 = ['a',6,4.0]

l=l1  + l2

In [ ]:
for fg in l:
    print((fg))

dsad
b
c
a
6
4.0

### Loops

In [ ]:
# for loop
num=[1,2,3,4,5,6]
for i in num:
    print(i)

1
2
3
4
5
6

In [ ]:
s = 'Anil Kumar'

for i in range(len(s)):
    print(s[i])

A
n
i
l

K
u
m
a
r

In [ ]:
# While loop

# to find sum using for loop
summ = 0
for i in range(11):
    summ+=i

print(summ)

55

In [ ]:
## to find sum using while loop
n = 10


sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

print(sum)

55

In [ ]:
# Range Function
print(list(range(1,10)))
print(list(range(1,10,2)))
print(list(range(10,1,-1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
# For loop with range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

### Break and continue

In [ ]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

## Strings Session 2

### String Basics

In [ ]:
len("Hello World")

11

In [ ]:
# Indexing
s= "Hello World"
print(s[1])

e

In [ ]:
print(s[1:])
print(s[:5])
print(s[::-1])

ello World
Hello
dlroW olleH

### String Properties

In [ ]:
s

'Hello World'

In [ ]:
# strings are immutable
s[1]='1'

TypeError: 'str' object does not support item assignment

In [ ]:
# concatenation
print(s+" I am Anil")

Hello World I am Anil

In [ ]:
print(s*2)

Hello WorldHello World

### Basic Built in Functions

In [ ]:
print(s)
print(s.upper())
print(s.lower())

Hello World
HELLO WORLD
hello world

In [ ]:
print(s.split())
print(s.split('o'))

['Hello', 'World']
['Hell', ' W', 'rld']

In [ ]:
print(s.count('o'))
print(s.count('l'))

2
3

In [ ]:
# is Check methods
#isalnum() will return "True" if all characters in S are alphanumeric.
print(s.isalnum())
# isalpha() wil return "True" if all characters in S are alphabetic.
print(s.isalpha())

#islower() will return "True" if all cased characters in S are lowercase and there is at least one cased character in S, False otherwise.
print(s.islower())

#isspace() will return "True" if all characters in S are whitespace.
print(s.isspace())

#istitle() will return "True" if S is a title cased string and there is at least one character in S
print(s.istitle())

#isupper() will return "True" if all cased characters in S are uppercase and there is at least one cased character in S, False otherwise.
print(s.isupper())

False
False
False
False
True
False

### List Methods

In [ ]:
#Use the append method to permanently add an item to the end of a list:
l = [1,2,3]
print("Before Appending",l)
l.append(4)
print("After Appending",l)
l.pop()
print("After pop",l)

Before Appending [1, 2, 3]
After Appending [1, 2, 3, 4]
After pop [1, 2, 3]

In [ ]:
a=(1,2,2,3)
b=[1,2,3,4]

(1, 2, 2, 3)