## Tuples

#### A tuple is an ordered, immutable collection of items in Python. Immutability means you cannot change, add, or remove elements after creation.

In [1]:
t = (10, 20, 30)

In [2]:
t = (10,)     # tuple
x = (10)      # NOT a tuple (just an integer)

In [3]:
t = ("Anil", 25, 55.6, True) # with mixed data types
print(t)

('Anil', 25, 55.6, True)

In [4]:
#indexing
t = ("apple", "banana", "cherry")
print(t[0])
print(t[-1])

apple
cherry

In [5]:
# Immutability
t = (10, 20, 30)
t[1] = 50

TypeError: 'tuple' object does not support item assignment

In [6]:

t2 = t + (40,)  # create new tuple
print(t2)       # (10, 20, 30, 40)

(10, 20, 30, 40)

In [8]:
## 2 methods in tuples
# 1. count
t = (1, 2, 2, 3, 2)
print(t.count(2))

#index()
t = ("a", "b", "c", "b")
print(t.index("b"))

3
1

## Sets

#### A set is an unordered, mutable, and unique-element collection in Python.

In [9]:
s = {1, 2, 3}
s

{1, 2, 3}

In [10]:
## sets automatically delete duplicates
s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

In [11]:
# set from list
s = set([1, 2, 3])
print(s)

{1, 2, 3}

In [12]:
# Mixed data Types
s = {10, "apple", (1, 2)}
print(s)

{'apple', 10, (1, 2)}

In [13]:
# adding new element
s = {1, 2}
s.add(3)
print(s)

{1, 2, 3}

In [14]:
# add multiple elements
s = {1, 2}
s.update([3, 4, 5])
print(s)

{1, 2, 3, 4, 5}

In [15]:
## to remove an element
s = {1, 2, 3}
s.remove(2)
print(s)

{1, 3}

In [18]:
# no error if element is not present
s = {1, 2, 3}
s.discard(10)
print(s)

{1, 2, 3}

In [19]:
# pop removes random element
s = {1, 2, 3}
print(s.pop())
print(s)

1
{2, 3}

In [20]:
s.clear()
print(s)

set()

## Dictionaries

#### A dictionary is a mutable, unordered collection of key–value pairs.
--> Keys must be unique

--> Keys must be immutable (string, number, tuple)

--> Values can be any type

In [21]:
student = {
    "name": "Anil",
    "age": 25,
    "marks": 95
}
print(student)

{'name': 'Anil', 'age': 25, 'marks': 95}

In [24]:
# creating a dictionary
d = {"a": 1, "b": 2}
print(d)

# Using Dict
d2 = dict(name="Anil", age=22)
print(d2)

{'a': 1, 'b': 2}
{'name': 'Anil', 'age': 22}

In [26]:
# mixed data types

d = {"name": "Anil", "age": 25, "skills": ["Python", "ML"]}
print(d)

{'name': 'Anil', 'age': 25, 'skills': ['Python', 'ML']}

In [28]:
# Accessing Elements
# 1. using key
student = {"name": "Anil", "age": 22}
print(student["name"])

# 2. using get()

print(student.get("name"))

Anil
Anil

In [31]:
# Adding new element
d = {"a": 1}
d["b"] = 2
print(d)

# updating
d["a"] = 10
print(d)

{'a': 1, 'b': 2}
{'a': 10, 'b': 2}

In [32]:
# remove specific element
d = {"a": 1, "b": 2}
d.pop("a")
print(d)

{'b': 2}

In [33]:
# removes last inserted key
d = {"a": 1, "b": 2}
d.popitem()
print(d)

{'a': 1}

In [36]:
# delete a key
d = {"a": 1, "b": 2}
del d["b"]
print(d)

#empty the dictionary
d.clear()
print(d)

{'a': 1}
{}

In [37]:
# loop keys
d = {"a": 1, "b": 2,"c":3}
for k in d:
    print(k)

a
b
c

In [38]:
# loop values
d = {"a": 1, "b": 2,"c":3}
for v in d.values():
    print(v)

1
2
3

In [39]:
# key value pairs
for k, v in d.items():
    print(k, v)

a 1
b 2
c 3

In [40]:
# nested dictionary
student = {
    "name": "Anil",
    "marks": {
        "math": 90,
        "python": 95
    }
}
print(student["marks"]["python"])

95

### Dictionary comprehension

In [41]:
# A concise way to create dictionaries.
squares = {x: x*x for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### list comprehension

In [42]:
# without comprehension
nums = [1, 2, 3, 4, 5, 6]
evens = []

for n in nums:
    if n % 2 == 0:
        evens.append(n)

print(evens)

[2, 4, 6]

In [43]:
# with comprehension
nums = [1, 2, 3, 4, 5, 6]
evens = [n for n in nums if n % 2 == 0]
print(evens)   # [2, 4, 6]

[2, 4, 6]

### shallow copy
#### A shallow copy creates a new outer object,but the inner elements are not copied — only references are copied.

Meaning:
Changes to inner elements affect both copies.
Changes to outer list (append/remove) affect only one.

In [44]:
a = [[1, 2], 3]
b = a.copy()

b[0][1] = 99

print(a)
print(b)

[[1, 99], 3]
[[1, 99], 3]

### Deep Copy
A deep copy creates a new outer object and
recursively copies all inner elements.

Meaning:

Completely independent copy

Changing inner elements does NOT affect the original

In [45]:
import copy

a = [[1, 2], 3]
b = copy.deepcopy(a)

b[0][1] = 99

print(a)
print(b)

[[1, 2], 3]
[[1, 99], 3]

## Functions

#### A function is a reusable block of code that performs a specific task.

In [47]:
# difining the function
def greet():
    print("Hello!")

# calling the function
greet()

Hello!

In [48]:
# function with parameters
def add(a, b):
    return a + b

print(add(3, 5))

8

Parameters vs Arguments

Parameter → variable in function definition

Argument → value you pass when calling

A function can return:

single value

multiple values (as tuple)

In [49]:
def multiply(a, b):
    return a * b

result = multiply(4, 5)
print(result)

20

In [50]:
#multiple returns
def calc(a, b):
    return a+b, a-b

x, y = calc(10, 5)
print(x, y)

15 5